In [1]:
import pandas as pd

df=pd.read_csv("D:/adityafiles/Internships/ApexPlanet/tasks/Data analysis/Dataset/raw_retail_store_sales.csv")

In [3]:
df.columns.tolist()

['Transaction ID',
 'Customer ID',
 'Category',
 'Item',
 'Price Per Unit',
 'Quantity',
 'Total Spent',
 'Payment Method',
 'Location',
 'Transaction Date',
 'Discount Applied']

In [4]:
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit       609
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    12575 non-null  object
 1   Customer ID       12575 non-null  object
 2   Category          12575 non-null  object
 3   Item              11362 non-null  object
 4   Price Per Unit    11966 non-null  float64
 5   Quantity          11971 non-null  float64
 6   Total Spent       11971 non-null  float64
 7   Payment Method    12575 non-null  object
 8   Location          12575 non-null  object
 9   Transaction Date  12575 non-null  object
 10  Discount Applied  8376 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
(df['Total Spent']!=df['Price Per Unit']*df['Quantity']).sum()

np.int64(1213)

In [8]:
df = df.dropna(subset=['Item'])

In [9]:
df=df.dropna(subset=['Price Per Unit', 'Quantity'])

In [10]:
df['Discount Applied']=df['Discount Applied'].fillna(False)

C:\Users\kalpe\AppData\Local\Temp\ipykernel_576\1417729992.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Discount Applied']=df['Discount Applied'].fillna(False)

In [11]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

df['Quantity'] = df['Quantity'].astype(int)

In [12]:
df.columns= df.columns.str.strip()

In [13]:
categorical_cols = ['Category', 'Payment Method', 'Location', 'Discount Applied']

for col in categorical_cols:
    df[col] = df[col].astype(str).str.strip().str.title()

In [14]:
df['Discount Applied']=df['Discount Applied'].replace({'True':'Yes' , 'False':'No'})

In [15]:
df['Total Spent'] = df['Price Per Unit'] * df['Quantity']

In [16]:
df.info
df.isnull().sum()

Transaction ID      0
Customer ID         0
Category            0
Item                0
Price Per Unit      0
Quantity            0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
Discount Applied    0
dtype: int64

In [17]:
df.to_csv(
    "D:/adityafiles/Internships/ApexPlanet/tasks/Data analysis/Dataset/cleaned_retail_store_sales.csv",
    index=False
)